{{ form_start(form) }}

    {{ form_row(form.currentPassword) }}
    {{ form_row(form.newPassword) }}
    {{ form_row(form.confirmPassword) }}

    <button type="submit" class="btn btn-primary">Changer le Mot de Passe</button>

{{ form_end(form) }}
