{% extends 'base.html.twig' %}

{% block body %}
    <center><h1 style='margin-top:25px;'>Liste des produits</h1></center>
    <div style='margin-top:25px;'>
        {% for produitArray in listeProduit %}
            {% for produit in produitArray.produit %}
            <div class='produit'>
                <div style='margin-right:30px;'>
                    <img src="{{ path('show_image', {'id': produit.id }) }}" alt="Image" width="100" height="75">
                </div>
                <div>
                    <h3>{{ produit.libelle }}</h3>
                    <h3>{{ produit.prixUnitaireTTC }} €</h3>
                </div>
                <div style="margin-left: auto;">
                    <a href="{{ path('app_produit',{libelle : produit.libelle}) }}" style="text-decoration:none;color:black;">
                        <button type="submit" class="btn btn-warning" style="margin-top:25px;">Voir le produit</button>
                    </a>
                </div>
            </div>
            {% endfor %}<br/>
        {% endfor %}
    </div>
    <h3 style='text-align:center;'>Total : {{ laCommande.prixTotalTTC }} €</h3>

    <style>
        .produit{
            display: flex;
            border: solid #ccc 2px;
            padding: 10px;
            margin-right: 700px;
            margin-left: 700px;
            border-radius: 10px;
        }
    </style>
{% endblock %}
