{% extends 'base.html.twig' %}


{% block body %}
	<center><h1 style='margin-top:10px;'>Bienvenue {{client.nom}} {{client.prenom}}</h1></center>
	<div class='profil'>
		<div class='edition'>
			<h3>Profil</h3>
            <p><a href="{{ path('app_profilEdit', {'section': 'password'}) }}">Changer le mot de passe</a></p>
            <p><a href="{{ path('app_profilEdit', {'section': 'email'}) }}">Changer de mail</a></p>
            <p><a href="{{ path('app_profilEdit', {'section': 'name'}) }}">Changer le nom/prénom</a></p>
			<a class="nav-link active" aria-current="page" href="{{ path('app_logout') }}">
				<button type="submit" class="btn btn-danger" style="margin-top:25px;">Deconnexion</button>
			</a>
		</div>
		<div class='commandes'>
			<h2>Mes Commandes</h2>
		</div>
	</div>

	<style>
		.profil {
			text-align: center;
            display: flex;
			justify-content: center;
			margin: 0;
		}

		.edition,
		.commandes {
			border: 1px solid #ccc;
			padding: 20px;
			margin: 10px;
            border-radius: 10px;
		}
	</style>
{% endblock %}
